/*these are the default element display settings; they will be overwritten repeatedly by the js as the game is played*/
#start-screen{
    display:block;
}
/*the game screen starts off hidden till the start button is clicked*/
#game{
    display:none;
    background: #89bdd3;
    width:60%;
    margin:10px auto;
    padding: 20px 20px;
    border:10px solid #c9c9c9;
}
/*the finished screen starts off as hidden till the finished button is clicked*/
#finished-screen{
    display:none;
}
#finishedBtn{
    margin-top:20px;
}
#timer{
    display:block;
}
body{
    background: url(../images/scienceStuff.jpg);
    background-repeat: repeat;
    text-align: center;

}
#start-screen{
    background: #89bdd3;
    padding:20px;
    margin: 150px auto;
    width:75%;
    border:10px solid #c9c9c9;
}
